:root {
  --background: #ccd5ae;
  --text: #14213d;
  --primary: #e9edc9;
  --secondary: #d3b66b;
  --accent: #ee9b00;
}
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

html {
  font-size: 16pt;
  font-family: "Roboto", sans-serif;
  color: var(--text);
}

body {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background);
  padding: 10px;
}
h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--accent);
  margin-top: 100px;
}
.wrap {
  width: 700px;
  padding: 25px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  gap: 20px;
}
#todo-in {
  box-sizing: border-box;
  padding: 11px 20px;
  width: 100%;
  background: none;
  border: 2px solid var(--secondary);
  border-radius: 1000px;
  color: var(--text);
  font: inherit;
  caret-color: var(--accent);
}
#todo-in:focus {
  outline: none;
}
form {
  position: relative;
}
#Add {
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--accent);
  padding:12px 20px;
  border: none;
  border-radius: 1000px;
  font: inherit;
  font-weight: 600;
  color: var(--background);
  cursor: pointer;
}
.todo {
  margin-bottom: 14px;
  padding: 0 16px;
  background-color: var(--primary);
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.todo .todo-text {
  padding: 15px;
  padding-right: 0;
  flex-grow: 1;
  transition: 200ms ease;
}
.delete {
  padding: 3px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.delete:hover svg {
  fill: crimson;
}
.delete svg {
  transition: 200ms ease;
}
.custom-checkbox {
  border: 2px solid var(--accent);
  min-width: 20px;
  min-height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  transition: 200ms ease;
  cursor: pointer;
}
input[type="checkbox"]:checked ~ .custom-checkbox {
  background-color: var(--accent);
}
input[type="checkbox"]:checked ~ .custom-checkbox svg {
  fill: var(--background);
}
input[type="checkbox"]:checked ~ .todo-text {
  /* display: none; */
  text-decoration: line-through;
  color: var(--secondary);
}
input[type="checkbox"] {
  display: none;
}

@media (max-width: 500px) {
  html {
    font-size: 12px;
  }
  #Add {
    position: unset;
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    height: auto;
  }

  h1 {
    margin-top: 50px;
    font-size: 15vw;
  }
}
